body{
  margin: 10px;
}

table, th, td {
  border: 1px solid #c4dcf3;
  border-left: 0;
  border-right: 0;
  border-collapse: collapse;
}

td, th {
  padding: 10px;
}


tr:nth-child(odd){
  background-color:  #eef7ff;
}

th {
  color: white;
  background-color: #427fef;
}


tfoot{
  text-align: left;
}